<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rkopylknu.minimaltodo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinimalToDo.Light">

        <activity
            android:name="com.rkopylknu.minimaltodo.Main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MinimalToDo.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.rkopylknu.minimaltodo.AddToDo.AddToDoActivity"
            android:exported="true"
            android:theme="@style/Theme.MinimalToDo.Light" />

        <activity
            android:name="com.rkopylknu.minimaltodo.Reminder.ReminderActivity"
            android:exported="true"
            android:theme="@style/Theme.MinimalToDo.Light" />

        <activity
            android:name="com.rkopylknu.minimaltodo.Settings.SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.MinimalToDo.Light" />

        <activity
            android:name="com.rkopylknu.minimaltodo.About.AboutActivity"
            android:exported="true"
            android:theme="@style/Theme.MinimalToDo.Light" />

        <service
            android:name=".Utility.ReminderService"
            android:exported="true">

            <intent-filter>

                <action android:name="com.rkopylknu.minimaltodo.data.local.ReminderNotificationService.CREATE" />
                <action android:name="com.rkopylknu.minimaltodo.data.local.ReminderNotificationService.CANCEL" />
                <action android:name="com.rkopylknu.minimaltodo.data.local.ReminderNotificationService.NOTIFY" />
                <action android:name="com.rkopylknu.minimaltodo.data.local.ReminderNotificationService.DELETE" />
            </intent-filter>
        </service>

    </application>

</manifest>